<!DOCTYPE html>
<html>
  <head>
    <title>PetShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav>
    <%= link_to 'new species', new_species_path %>
    <%= link_to 'all species', species_index_path %>
    <%= link_to 'new pet', new_pet_path %>
    <%= link_to 'all pets', pets_path %>
    <%= link_to 'new owner', new_owner_path %>
    <%= link_to 'all owners', owners_path %>
  </nav>
  <main>
      <% if flash[:errors] %>
        <div class="error">
            <ul>
                <% flash[:errors].each do |error| %>
                    <li><%= error %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= yield %>
  </main>
  </body>
</html>
