<h1>book an appointment</h1>

<form action="/appointments" method="POST">
    <input type="date" name="appointment[date]" />
    <input type="time" name="appointment[time]" />

    <% if @doctor %>
    <p>you are booking an appt with <%= @doctor.name %></p>
    <input type="hidden" name="appointment[doctor_id]" value="<%= @doctor.id %>" />
    <% else %>
        <select name="appointment[doctor_id]">
        <% @doctors.each do |doctor| %>
            <option value="<%= doctor.id %>"><%= doctor.name %></option>
        <% end %>
        </select>
    <% end %>


    <select name="appointment[patient_id]">
    <% @patients.each do |patient| %>
        <option value="<%= patient.id %>"><%= patient.name %></option>
    <% end %>
    </select>

    <% @symptoms.each do |symptom| %>
        <label>
            <%= symptom.name %>
        <input type="checkbox" name="appointment[symptom_ids][]" value="<%= symptom.id %>"/>
        </label>
    <% end %>

    <p> if none of your symptoms are listed here, please fill in this field</p>
    <input type="text" name="new_symptom_name" />
    <input type="text" name="appointment[new_symptom_name]" />

    <input type="text" name="appointment[symptoms_attributes][][name]" />

    <input type="submit" />
</form>